* {
	margin: 0;
}

h1, h2 {
	margin-top: 1em;
	margin-bottom: 0.4em;
}

p {
	padding: 2pt;
}

iframe {
	border: none;
}

button, .button {
	color: white;
	text-decoration: none;
	padding: 1px 5px;
	border-radius: 0px;
	background-color: black;
	border: 1.5px solid white;
	font-size: 23pt;
	font-family: hre_text_font, sans-serif;
}

button:hover, .button:hover {
	background-color: black;
	text-decoration: none;
	color: #00ff00;
	cursor: pointer;
}

button:active, .button:active {
	background-color: gray;
}

div, header, main, aside, footer {
	color: white;
	font-family: hre_text_font, sans-serif;
}

.important {
	color: #ff3333
}

/* Enable input on all child elements */
.enableInput * {
	pointer-events: auto;
}

/* Disable Input on all child elements */
.disableInput * {
	pointer-events: none;
}

#disclaimerDiv {
	background-color: #eeeeee;
	font-size: 12px;
	color: black;
	font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: normal;
	padding: 2%;
	box-shadow: 0px 0px 20px 20px black;
}

#disclaimerDiv button, #disclaimerDiv .button {
	padding: 10px;
	color: white;
	font-size: 15px;
	background-color: #0076a5;
	border: none;
	outline: none;

	display: block;
	margin: 10px auto;
}

#disclaimerDiv button:hover, #disclaimerDiv .button:hover {
	background-color: #00445f;
}

.popUp {
	background-color: #444444;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: normal;
	padding: 2%;
	box-shadow: 0px 0px 20px 20px black;
}

.popUpAlt {
	border: 4px solid white;
	background-color: black;
	color: yellow;
	font-size: 30px;
	padding: 15px;
	box-shadow: 0px 0px 20px 20px black;
	max-width: 40%;
}

.popUpAlt button {
	display: block;
	margin: 7px 0 0 auto;
}

#footer {
	background-color: #444444;
	color: white;
	width: 100%;
	height: 25px;
}

#footer a {
	color: white;
	text-decoration: none;
	font-size: 15px;
	padding: 0 20px;
}

#footer a:hover {
	color: #00ff00;
}

.gameHash {
	color: #646464;
	/*float: right;*/
	margin: 3px 1em 0 1em;
}

.note {
	color: black;
	background-color: #f8f9fa;
	border-left: 4px solid #5c7cfa;
	padding: 15px;
	margin: 20px 0;
	border-radius: 3px;
}

/* Level Editor */
.levelElementProperties {
	overflow: auto;
}

.levelElementProperties label {
	text-decoration-thickness: 2px;
	text-decoration-color: red;
	display: block;
	margin-top: 7px;
}

.levelElementProperties input, .levelElementProperties select {
	background-color: #333333;
	color: white;
	padding: 10px;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	display: block;
}

.levelElementProperties input:hover, .levelElementProperties select:hover {
	background-color: #5576a5;
}

.levelElementProperties hr {
	margin: 10px 0px;
	border-bottom: 2px solid gray;
}

.levelElementProperties h2 {
	border-bottom: 2px solid gray;
	padding-bottom: 5px;
}

.levelElementProperties textarea {
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	width: 300px;
	height: 120px;
}
/* END Level Editor */

/* Level Editor: Rotation Widget */
label.rotationWidget{
	display: inline;
}

.rotationWidget img {
	background-color: #333333;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	width: 40px;
	height: 40px;
	object-fit: cover;
	display: inline;
}

input[type="radio"]:hover + .rotationWidget img {
	background-color: #5576a5;
}

input[type="radio"]:disabled + .rotationWidget img {
	background-color: #333333;
}

input[type="radio"]:checked + .rotationWidget img {
	background-color: #0076a5;
}

.levelElementProperties input[type="radio"] {
	/* Hide the ugly default ui, the user will interact via the label */
	display: none;
}
/* END Rotation Widget */
